%hover-link {
    transition: color .3s, background-color .3s, box-shadow .3s;
}

%btn-reset {
    display: inline-block;
    text-decoration: none;
}

.wrapper {
    position: relative;
}

.wrapper:before {
    content: "";
    display: block;
    width: 100%;
    height: 480px;
    position: absolute;
    background: #fff;
    left: 0;
    top: -480px;
    transition: all .5s;
}

.wrapper.active:before {
    top:0;
}

.container {
    max-width: 1377px;
    margin: 0 auto;
}

.header {
    min-height: 900px;
    background: url('../images/dog.svg') 62% 25% no-repeat, url('../images/bg-header.jpg') center center/cover no-repeat;
}

.header,
.sub_header {
    .head {
        padding: 15px 10px 0 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 16px;
        flex-wrap: wrap;
        .logo {
            z-index: 2;
            .logo-svg {
                width: 165px;
                height: 40px;
            }
        }
        nav {
            z-index: 2;
            .header-menu {
                display: flex;
                align-items: center;
            }
            li{
                margin-right: 20px;
                .menu-link {
                    color:#191918;
                    text-decoration: none;
                    display: inline-block;
                    font-weight: 600;
                    @extend %hover-link;
                }
                .menu-link:hover {
                    color: #336699;
                }                
            }
            li:last-child {
                margin-right: 0;
            }
        }
        .connection {
            z-index: 2;
            .menu-connection {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .hidden-menu-link {
                    display: none;
                    .call {
                        font-size: 14px;
                        font-weight: 700;
                        color: #343330;
                        letter-spacing: 0.03em;
                        padding: 15px 30px;
                        background: rgba(51, 102, 153, 0.17);
                        border-radius: 50px;
                        @extend %hover-link;
                    }
                    .call:hover {
                        background-color: #336699;
                        color: #fff;
                    }
                }
                
            }
            li {
            margin-right: 23px;
                .menu-link {
                    color:#191918;
                    text-decoration: none;
                    font-weight: 700;
                }
                .phone {
                    color: #1D67B0;
                    @extend %hover-link;
                }
                .phone:hover {
                    color: #3382D1;
                }
                .recall {
                    padding: 8px 12px;
                    background: rgba(51, 102, 153, 0.17);
                    border-radius: 50px;
                    color: #343330;
                    @extend %hover-link;
                }
                .recall:hover {
                    background-color: #336699;
                    color: #fff;
                }
                .svg-cart {
                    fill: #000;
                }
            }
            li:last-child {
                margin-left: 52px;
                margin-right: 0;
            }
            .cart {
                position: relative;
            }
            /*кол-во товаров*/
            .cart:before {
                content: "15";
                display: block;
                color: #fff;
                text-align: center;
                font-size: 14px;
                line-height: 25px;
                width: 25px;
                height: 25px;
                background-color: #336699;
                box-shadow: 0px 2px 4px 1px rgba(7, 86, 105, 0.15);
                border-radius: 50%;
                position: absolute;
                right: -1px;
                top: -1px;
            }
        }
        .burger-menu {
            display: none;
            width: 30px;
            height: 25px;
            position: relative;
            cursor: pointer;
            .burger {
                width: 100%;
                height: 3px;
                background: #336699;
                border-radius: 5px;
                position: absolute;
                top: 11px;
                transition: all .3s;
            }
        }
        .burger-menu:before,
        .burger-menu:after {
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            background: #336699;
            border-radius: 5px;
            position: absolute;
            transition: all .3s;
        }
        .burger-menu:before {
            left:0;
            top: 0;
        }
        .burger-menu:after {
            left: 0;
            bottom: 0;
        }
        .burger-menu.active:before {
            transform: rotate(45deg);
            top: 10px;
        }
        .burger-menu.active:after {
            transform: rotate(-45deg);
            bottom: 12px;
        }
        .burger-menu.active {
            .burger {
                transform: scale(0);
            }
        }
    }
    .header-offer {
        text-align: center;
        max-width: 668px;
        font-family: 'Montserrat', sans-serif;
        color: #343330;
        text-shadow: 3px 5px 10px rgba(106, 106, 90, 0.2);
        margin-top: 90px;
        .sub-title {
            font-weight: 600;
            font-size: 25px;
            letter-spacing: 0.03em;
        }
        .title {
            font-weight: 700;
            line-height: 55px;
            text-transform: uppercase;
            font-size: 40px;
            letter-spacing: 0.03em;
            margin: 70px 0 0 0;
        }
        .btn-market {
            @extend %btn-reset;
            @extend %hover-link;
            padding: 19px 39px;
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            font-weight: 500;
            color: #fff;
            background: #336699;
            border-radius: 50px;
            margin-top: 60px;
        }
        .btn-market:hover {
            background: #336699;
            box-shadow: 0px 8px 10px rgba(19, 62, 106, 0.3);
        }
    }
}

.sub_header {
    min-height: 73px;
    background: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

section {
    height: 200px;
}


@media screen and (max-width: 1140px) {
    .container {
        max-width: 1100px;
    }
}
/*media max-width: 992px*/

@media screen and (max-width: 992px) {
    .header {
        max-width: 992px;
        background: url('../images/dog.svg') 80% 25% no-repeat, url('../images/bg-header.jpg') 65% center/cover no-repeat;
    }
    .header,
    .sub_header {
        .head {
            flex-wrap: nowrap;
            .logo {
                .logo-svg {
                    width: 130px;
                    height: 32px;
                }
            }
            .header-menu {
                li {
                    .menu-link {
                        font-size: 14px;
                    }
                }
            }
            .connection {
                .menu-connection {
                    .hidden-menu-link {
                        display: block;
                    }
                }
                .menu-connection li:nth-child(1),
                .menu-connection li:nth-child(3) {
                    display: none;
                }
                li.cart {
                    margin: 0;
                }
            }
        }
        .header-offer {
            max-width: 530px;
            .title {
                margin-top: 60px;
                font-size: 35px;
            }
            .btn-market {
                padding: 19px 39px;
                background: #336699;
                padding: 23px 87px;
            }
        }
        
    }
    .container {
        max-width: 930px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 698px;
    }
    .header {
        max-width: 768px;
        min-height: 793px;
        .head {
            padding-top: 25px;
            .nav {
                display: none;
            }
            .connection {
                display: flex;
                align-items: center;
                .burger-menu {
                    display: block;
                    margin-left: 18px;
                }
            }
        }
        .head.active {
            position: relative;
            .connection {
                justify-content: space-between;
                width: 100%;
                .menu-connection {
                    width: 100%;
                    justify-content: space-evenly;
                    li {
                        margin: 0;
                    }
                }
                .menu-connection li:nth-child(1) {
                    display: block;
                }
                .burger-menu {
                    margin: 0;
                }
                
            }
            .nav {
                top: 0;
                left: 0;
                position: absolute;
                width: 100%;
                height: 480px;
                display: flex;
                justify-content: center;
                align-items: center;
                .header-menu {
                    text-align: center;
                    border: 0.5px solid rgba(51, 102, 153, 0.36);
                    min-height: 250px;
                    justify-content: space-between;
                    flex-direction: column;
                    li {
                        margin: 0;
                        .menu-link {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}